* {
    margin: 0;
}

body {
    width: 100%;
    background-color: black;
}

section{
    height: 100%;
    background-image: url();
    background-size: cover;
}

#painel-principal, #painel-principal div {
    width: 100%;
    height: 400px;

    display: flex;
}

#painel-1 {
    background-image: url('https://64.media.tumblr.com/a0bd36e5d03f693a746c59dcaa32780d/tumblr_ppnnv1K0151uti71g_500.png');
    background-size: 150%;
    background-position: center bottom;
    background-color: black;
    background-repeat: no-repeat;
    transition: all 1.5s ease;
}

#painel-2 {
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/d401ffae-3beb-4ec3-9bb1-10375146581d/dauk5dc-1ea1ed3e-0bb4-4b79-868d-22d98ccab702.png/v1/fill/w_512,h_512,strp/persona_5_protagonist__allout_attack_portrait__by_ludovico885_dauk5dc-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NTEyIiwicGF0aCI6IlwvZlwvZDQwMWZmYWUtM2JlYi00ZWMzLTliYjEtMTAzNzUxNDY1ODFkXC9kYXVrNWRjLTFlYTFlZDNlLTBiYjQtNGI3OS04NjhkLTIyZDk4Y2NhYjcwMi5wbmciLCJ3aWR0aCI6Ijw9NTEyIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.rOIRIqhOyJ0WMZbyjBRdebfD-QB2TkGDA2YpMRjMlCM');
    background-size: 150%;
    background-position: center bottom;
    background-color: #7d0505;
    background-repeat: no-repeat;
    transition: all 1.5s ease;
}

#painel-3 {
    background-image: url('https://www.seekpng.com/png/full/20-206492_264kib-1207x640-joker-persona-5-joker-png.png');
    background-size: auto 100%;
    background-position: center bottom;
    background-color: red;
    background-repeat: no-repeat;
    transition: all 1.5s ease;
    transform-origin: top;
}

#painel-4 {
    background-image: url('https://i.pinimg.com/originals/74/60/6b/74606bdcc90dc4e7dec144d0091ef37f.png');
    background-size: 100%;
    background-position: center bottom;
    background-color: #7d0505;
    background-repeat: no-repeat;
    transition: all 1.5s ease;
}

#container {
    display: flex;
    flex-direction: column;
}

#painel-3:hover {
    height: 100vh;
    width: 2000vw;
    background-color: red;
    transform-origin: left;
}

#painel-1:hover, #painel-2:hover, #painel-4:hover {
    height: 100vh;
    width: 100vw;
    background-size: 100%;
    background-color: red;
    transform-origin: left;
}